* {
	box-sizing: border-box;
}

p,ul{
	padding:5px;
	background-color:#D1D1D1;
    overflow-x: hidden;

} 
a{
	text-decoration:none
}
div{
	/* margin:5px auto; */
	padding:5px;
}

label,input,h2{
	background-color:#D1D1D1;
	border: 1px outset gray;
	padding: 5px;
	margin: 5px;
}

li, .form-select{
	background-color:#D1D1D1;
	padding: 5px;
	margin: 5px;
}

body {
  background-image: url("/pmss/assets/img/gg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  display:flex; 
  flex-direction:column;
}

.elem{
	/* font-family:courier; */
	width: 31%;
    height: 40%;
	/* flex: 31%; */
	float: left;
	padding: 15px;
	/* border: 1px solid red; */
	

	/* overflow-y: hidden; */
    white-space: nowrap;
    /* text-overflow: ellipsis;  */
    /* overflow-x: hidden; */
}

.elem:hover{
	background-color: #ddd;
  	color: black;
}

 .flex-container{
    display: flex;
	/* flex-direction: row; */
	/* text-align: center;  */
    margin: 5px auto;
    justify-content: center;
    align-items: baseline;
 }  

.contenedorBotones{
	display:flex;
    flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}

.botonesPrincipales{
	width:40%;
	height:auto;
	padding:5px;
	margin:5px;
	background-color:#D1D1D1;
	text-align: center;
}

select{
    width: auto;
    margin: 5px;
    padding: 5px;
}

.perfil{
    position: absolute;
    top: 5px;
    left: 5px;
    float: right;
}

#zoom{
    position:absolute;
    border:3px solid #73AD21;
    left: 20px;
    right:20px;
    text-align: center;
    background-color:#D1D1D1;
    z-index:1;
    font-size: 20px;
}

.pseudo{
    content: '';
    display: block;
    height: 50px;
}

footer {
    /* position: static;
    bottom: 0px;
    left:0px;
    width: 100%; */
    margin-top:auto;
}

@media only screen and (max-width: 768px) {
/* For mobile phones: */
[class*="elem"] {
    width: 46%;
}}
@media only screen and (max-width: 500px) {
    /* For mobile phones: */
    [class*="elem"] {
        width: 98%;
    }}
