.landing{
    background-image: url("../img/indexbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top top;
    
}
.portalinicio{
    color: white;
}

.hrsep{
    border: 10px solid rgba(29, 29, 29, 0.397);
    border-radius: 5px;
}

.registroAplicante{
    background: linear-gradient(45deg, rgb(255, 108, 152), rgb(255, 230, 85, 1) 100%);
}

.registroContratador{
    background: linear-gradient(45deg, rgb(90, 128, 252), rgb(85, 255, 156, 1) 100%);
}

.btn-grad {
    background-image: linear-gradient(to right, #02AAB0 0%, #cd004f  51%, #02AAB0  100%);
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
